@import '../../assets/styles/utils/variables.scss';

.detailsContainer {
    margin-block: 20px;
    font-size: 18px;

    i {
        margin-right: 10px;
        color: $primary-color;
    }

    ul {
        list-style: none;
        margin-inline: 0;
        padding-inline: 0;

        li {
            padding-block: 10px;
            font-size: 20px;
        }
    }

    .marginTLg {
        margin-block-start: 70px;
    }

    .marginTSm {
        margin-block-start: 30px;
    }
}